.container-fluid {
    height: 100vh;
    width: 100vw;
    /* border: 0.5px solid lightgray; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    background: #494D5F;
  }
  
  .sub-container {
    height: fit-content;
    width: 400px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
  }
  
  .blue {
    color: #4186f3;
  }
  
  .orange {
    color: #eb4534;
  }
  
  .yellow {
    color: #fbbf04;
  }
  
  .green {
    color: #32a951;
  }
  
  .l-grey {
    color: grey;
  }
  