<div class="container-fluid">
  <div class="header">
    <div class="row pt-3 px-3 m-0">
      <div class="col-8 text-white fs-4 mt-2">Welcome To IMyTravel</div>
      <!-- <div class="col-4 text-white fs-4 mt-2">IMyTravel</div> -->
      <div class="col-4 text-white fs-6 mt-2 nav-button">
        <a (click)="handleNavSignIn()">SIGNIN</a>&nbsp; | &nbsp;<a
          (click)="handleNavSignUp()"
          >SIGNUP</a
        >&nbsp;
      </div>
    </div>
  </div>
  <!-- <div class="body"></div> -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="text-container">
        <p>Build a trip in minutes</p><br>
        <p>Get a personalized itinerary just for you, guided by traveler tips and reviews..</p>
        <!-- Add more paragraphs as needed -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        <img src="assets/images/home-gai-entry-dv.png" class="mobile-img">
      </div>
    </div>
  </div>
</div>

<!-- testimonial section -->
<h1 class="testi">Read Testimonials</h1>
<div class="testimonial-container">
  <div class="testimonial">
    <!-- <img src="path/to/testimonial1.jpg" alt="Testimonial 1"> -->
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non diam id libero consectetur rhoncus. Proin at tempor mi. In hac habitasse platea dictumst.</p>
    <h3>John Doe</h3>
    <span>CEO, Company Name</span>
  </div>
  <div class="testimonial">
      <!-- <img src="path/to/testimonial1.jpg" alt="Testimonial 1"> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non diam id libero consectetur rhoncus. Proin at tempor mi. In hac habitasse platea dictumst.</p>
      <h3>John Doe</h3>
      <span>CEO, Company Name</span>
    </div>
    <div class="testimonial">
      <!-- <img src="path/to/testimonial1.jpg" alt="Testimonial 1"> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non diam id libero consectetur rhoncus. Proin at tempor mi. In hac habitasse platea dictumst.</p>
      <h3>John Doe</h3>
      <span>CEO, Company Name</span>
    </div>
  <!-- Add more testimonials as needed -->
</div>

<!-- footer section -->
<footer class="footer">
  <div class="container2">
    <div class="row">
      <div class="col-md-6">
        <h4>About Us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit libero ut elit rutrum.</p>
      </div>
      <div class="col-md-6">
        <h4>Contact Us</h4>
        <p>Email: infoyourtravelapp.com</p>
        <p>Phone: +1234567890</p>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container3">
      <p>&copy; 2024 Your Travel App. All rights reserved.</p>
    </div>
  </div>
</footer>



